#chat_profile_info_user_name{
font-weight:bold;
line-height: 25px;
height:25px;
}



#chat_profile_info_users_avatar{	
height:100px;
width:100px;
float:left;
}
#chat_profile_info_id_4{	
line-height: 25px;
height:25px;
}
#chat_profile_info_id_5{	
line-height: 25px;
height:25px;
}
#chat_profile_info_id_6{	
line-height: 25px;
height:25px;
}
#chat_profile_info_id_7{	
line-height: 25px;
height:25px;
}
#chat_profile_info_id_8{	
line-height: 25px;
height:25px;
}

